.table-container{
    position: absolute;
    top:23%;
}


.userTableRow{
text-transform: uppercase;
font-weight: larger;}


.userTabelContainer{
    margin: 20px;
    width: inherit;
    -webkit-box-shadow: -10px -2px 52px 24px rgba(93, 64, 55, 0.29);
-moz-box-shadow: -10px -2px 52px 24px rgba(93, 64, 55, 0.29);
box-shadow: -10px -2px 52px 24px rgba(93, 64, 55, 0.29);
display: flex;
flex-direction: column;

}

.true{
background-image: url('../../images/check.png');}
.false{
    /* background-color: blue; */
}

.tableHead{
font-size: larger;
}